build:dbg --cxxopt=-std=c++17
build:dbg --copt=-Wall
build:dbg --copt=-Wextra
build:dbg --copt=-pedantic
build:dbg --copt=-Wno-error=pedantic
build:dbg --copt=-Wno-error=unused-parameter
build:dbg --copt=-ggdb
build:dbg --copt=-fsanitize=thread
build:dbg --linkopt=-fsanitize=thread

build:rel --cxxopt=-std=c++17
build:rel -c opt
build:rel --copt=-Wall
build:rel --copt=-Wextra
build:rel --copt=-pedantic
build:rel --copt=-Wno-error=pedantic
build:rel --copt=-Wno-error=unused-parameter
