build:rel --cxxopt=-std=c++17
build:rel -c opt
build:rel --copt=-Wall
build:rel --copt=-Wextra
build:rel --copt=-pedantic
build:rel --copt=-Wno-error=pedantic
build:rel --copt=-Wno-error=unused-parameter